.profile {
  width: 400px;
  --divider-color: rgb(142, 142, 142);
}

.profile img {
  width: 200px;
  height: 200px;
  clip-path: circle(50%);
  background-color: black;
}

.profile div {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 16px;
}

.profile ul {
  display: flex;
  align-content: center;

  background-color: rgb(205, 204, 204);
  border-radius: 0px 0px 16px 16px;
  border-top: 1px solid var(--divider-color);
}

.profile ul li {
  position: relative;
  width: calc(100% / 3);
  padding: 16px 0px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile ul li:not(:last-child)::after {
  position: absolute;
  content: "";

  right: 0px;
  top: 0px;

  width: 1px;
  height: 100%;

  background-color: var(--divider-color);
}

.name {
  font-size: large;
  font-weight: 700;
  color: black;
  margin: 16px 0;
}

.info {
  font-size: medium;
  color: gray;
  margin: 2px 0;
}

.metadata {
  font-weight: 700;
  margin-top: 8px;
}
